*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.nav{
    background-color: aqua;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


img{
    height: 75px;
    padding-left: 30px;
}